# Excluir la carpeta del sitio compilado
_site/

# Excluir archivos del sistema y de Bundler
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
Gemfile.lock~

# ----------------------------------------
# EXCLUSIONES DE NODE.JS (TAILWIND/NPM)
# ----------------------------------------

# 1. Dependencias de Node (No deben subirse a GitHub)
node_modules/

# 2. Archivos de compilación temporal o caché
.postcss-cache
# Local Netlify folder
.netlify
