<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="author" content="InitNullTV">
<meta name="theme-color" content="#007BFF">

{% seo %}

<meta property="og:locale" content="es-LA">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

{% if page.image %}
  <meta property="og:image" content="{{ page.image | absolute_url }}">
  <meta name="twitter:image" content="{{ page.image | absolute_url }}">
{% else %}
  <meta property="og:image" content="{{ '/assets/img/og/initnulltv-og.jpg' | absolute_url }}">
  <meta name="twitter:image" content="{{ '/assets/img/og/initnulltv-og.jpg' | absolute_url }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@InitNullTV">
<meta name="twitter:creator" content="@InitNullTV">

<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicon/apple-icon-57x57.png' | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | absolute_url }}">
<link rel="manifest" href="{{ '/assets/favicon/manifest.json' | absolute_url }}">
<meta name="msapplication-TileColor" content="#007BFF">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="preconnect" href="https://cdnjs.cloudflare.com">

<link rel="preload" href="{{ '/assets/css/output.css' | absolute_url }}" as="style" onload="this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{ '/assets/css/output.css' | absolute_url }}"></noscript>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">

<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>

<link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap_main.xml' | absolute_url }}">
<link rel="alternate" type="application/atom+xml" href="{{ '/feed.xml' | absolute_url }}" title="{{ site.title }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">

<script>
function loadScript(a){
  var b=document.getElementsByTagName("head")[0],c=document.createElement("script");
  c.type="text/javascript";
  c.src="https://tracker.metricool.com/resources/be.js";
  c.onreadystatechange=a;
  c.onload=a;
  b.appendChild(c);
}
loadScript(function(){beTracker.t({hash:"e8bdd9b6369b9ab98ff479f19247b81d"});});
</script>