<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="InitNullTV">
<meta name="robots" content="index, follow"> 
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

<link rel="apple-touch-icon" sizes="57x57" href="{{ '/assets/favicon/apple-icon-57x57.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicon/manifest.json' | relative_url }}">
<meta name="msapplication-TileColor" content="#007BFF">
<meta name="msapplication-TileImage" content="{{ '/assets/favicon/ms-icon-144x144.png' | relative_url }}">
<meta name="theme-color" content="#007BFF">
<link rel="shortcut icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}" type="image/x-icon">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
<link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}" />
<link rel="preload" href="{{ '/assets/css/style.css' | relative_url }}" as="style">
<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>

{% seo %}