<!DOCTYPE html>
<html lang="es">
  <head>
    {% include head.html %}
  </head>

  <body class="bg-[#0D0D0D] text-white font-sans">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4KLR48G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
 
    {% include header.html %}
    
    <main>
      {{ content }}
    </main>

    {% include footer.html %}

<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>

</body>
</html>

