<!DOCTYPE html>
<html lang="es">
  <head>
    {% include head.html %}
  </head>

  <body class="bg-[#0D0D0D] text-white font-sans">
    {% include header.html %}
    
    <main>
      {{ content }}
    </main>

    {% include footer.html %}
    
<script src="{{ '/assets/js/main.js' | relative_url }}" defer></script>

<script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
<script>
  kofiWidgetOverlay.draw('initnulltv', {
    type: 'floating-chat',
    'floating-chat.donateButton.text': '',                 
    'floating-chat.donateButton.background-color': '#0D0D0D',
    'floating-chat.donateButton.text-color': '#fff',
    'floating-chat.position': 'bottom-right',             
    'floating-chat.size': 'small',                         
    'floating-chat.showOnMobile': true                    
  });
</script>
</body>
</html>

